html {
  scroll-behavior: smooth;
    box-sizing: border-box;
    
}
html, body {
    text-align: center;
    }
    p {text-align: left;}
    
    body {
        margin: 0;
        padding: 0;
        background: #697281;
        text-align: left;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #F1F5F8;
        background-color:#679159;
        
    }
    *
    {
      margin: 0 auto 0 auto;
     text-align:left;
        padding: 0;
}
    
    #page
    {
      margin: 0 auto 0 auto; 
      margin-top:25px;
      display: block; 
      height:auto;
      position: relative; 
      overflow: hidden; 
      background: #679159 url(https://www.html.am/templates/downloads/bryantsmith/greencreative/background.png) repeat-y;
      width: 738px;
        
    
    }
    
    #header
    {
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/header.png);
    background-repeat:no-repeat;
    height:111px;
    width:738px;
    }
    
    #headerTitle
    {
    position:relative;
    left:30px;
    top:30px;
    color:#283823;
    font-size:34px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    transition: transform .2s;
  
    }
   
    
    #headerSubText
    {
    position:relative;
    left:33px;
    top:30px;
    color:#679159;
    font-size:16px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
   
    }
    
    
    
    #bar
    {
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/bar.png);
    background-repeat:no-repeat;
    height:80px;
    width:750px;
    line-height:55px;
    padding-left:0px;
    padding-right:20px;
    position:relative;
    
    
    }
    
    #bar a
    {
    font-size:13px;
    font-weight:bold;
    color:#FBFDFB;
    margin-left:10px;
    margin-right:28px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    }
    
    
     
    .contentTitle
    {
    width:676px;
    height:37px;
    margin-top:20px;
    margin-left:25px;
    margin-right:25px;
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/tab_back.png);
    background-repeat:no-repeat;
        
    
    }
    
    .contentTitle h1
    {
    margin-left:21px;
    padding-top:8px;
    font-size:17px;
    font-weight:bold;
    color:#071027;
    }
    
    .comments
    {
    font-size:11px;
    font-style:italic;
    }
    
    .contentText
    {
    width:680px;
    padding-left:30px;
    padding-right:30px;
    font-size:13px;
    color:#030712;
    line-height:30px;
    }
    
    .contentTitle a {
      text-decoration: none;
    }

/* animation for the title */
    
    #headerTitle {
      animation-duration: 5s;
      animation-name: move;
      animation-iteration-count: infinite;
      animation-timing-function:ease;
      animation-play-state:running;
      animation-fill-mode: forwards;
      animation-direction: normal;
    }
    @keyframes move {
      0%{transform: translate(0px, 0px);
        color:hotpink;
        }
      50%{transform: translate(450px, 0px);
        color:coral;
      }
     100%{transform: translate(0px, 0px);
      color:green;
      }
    }
/* hover for the navigation menu */

nav {
    height:auto;
    width:718px;
    margin-left: 10px;
    margin-right: 10px;
    

}


.nav-link{
    background-color:#FFC600;
    border: solid 1px black;
    border-radius: 10px;
   
}
.nav-link:hover {
    transform: rotate(360deg);
    transition: 500ms linear;
    
}
/* Styles for tooltip */

.tip + .tooltip > .tooltip-inner {
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green; 
    padding: 10px;
    font-size: 20px;
  }

.tip + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
  }

/* styles for the modal */

.moodl {
    color:cadetblue;
    margin-top: 30px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    padding: 10px;
    border: 2px solid #882;
}
#buttn {
    
    margin: 10px 50px;
}

.modal-body {
    background-color: aliceblue;
    color: black;
    width: 400px;
    height: auto;
}
.modal-body h1 {
    color: brown;
}
.close {
    color:red;
   
}

/* styles for the collaps */
#colla{
    width: 738px;
}

.collapse p {
    background-color:#882;
    padding:20px;
    line-height:30px;
    border-radius: 10px;
    }

.text {
    color:cadetblue;
    width: 100%;
    text-align: center;
    background-color: #cccccc;
    padding: 10px;
    border: 2px solid #882;
}
.btn {
   margin: 10px 10px;
    
    
}





    #footer {
    width: 738px;
    height:53px;
    background: url(https://www.html.am/templates/downloads/bryantsmith/greencreative/footer.png) no-repeat;
    text-align:center;
    font-size:9px;
    color:#152413;
    padding-top:38px;
    }
    
    
    